:root {
  --unknownColor: rgb(169, 38, 181);

  --strongColor: #42b983;
  --emphaColor: #f31186;
  --linkColor: rgb(47, 100, 224);

  --ttColor: #e7eaed;
  --ttBackground: #f8f8f8;
  --codeColor: #476582;
  --codeBackground: rgba(27, 31, 35, .05);

  --bqColor: #777;
  --bqBackground: rgba(66, 185, 131, 0.1);
  --bqBorder: var(--strongColor);

  --h1Color: #ddd;
  --h2Color: #ddd;
  --h3Color: #ddd;
  --h4Color: #ddd;
  --h5Color: #ddd;
  --h6Color: #ddd;

  --thColor: #dfe2e5;
  --trBackground2nd: #f8f8f8;
  --tdColor: #dfe2e5;

  --srcHeaderColor: rgb(191, 59, 142);
}
body {
  font-family: "FiraCode Nerd Font Mono", 'Courier New', Courier, monospace;
}

#write {
  max-width: 99%;
}

#write strong, #typora-source .cm-strong {
  color: var(--strongColor);
}

#write em, #typora-source .cm-em {
  color: var(--emphaColor);
}

#write .md-fences,
tt {
  border: 1px solid var(--ttColor);
  background-color: var(--ttBackground);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}

#write code {
  background-color: var(--bgColor);
  padding: 0.25rem 0.25rem;
  margin: 0;
  font-size: .85em;
  background-color: var(--codeBackground);
  border-radius: 3px;
  font-family:"Space Mono", Menlo;
  color: var(--codeColor);
}

#write blockquote, #typora-source pre.cm-atom, #typora-source pre.cm-block-start {
  border-left: 1ex solid var(--bqBorder);
  padding: 10px 15px;
  color: var(--bqColor);
  background-color: var(--bqBackground);
  font-size: large;
}

#write a {
  color: var(--linkColor);
  font-weight: 600;
  padding: 0 2px;
  text-decoration: none;
}

#write table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    page-break-inside: auto;
    text-align: left;
}

#write h2 {
  border-bottom: 1px solid var(--h2Color);
}

table tr:nth-child(2n),
thead {
    background-color: var(--trBackground2nd);
}
table th {
    font-weight: bold;
    border: 1px solid var(--thColor);
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table td {
    border: 1px solid var(--tdColor);
    margin: 0;
    padding: 6px 13px;
}
table th:first-child,
table td:first-child {
    margin-top: 0;
}
table th:last-child,
table td:last-child {
    margin-bottom: 0;
}

#typora-source .CodeMirror-lines {
  max-width: 99%;
}

#typora-source .cm-header {
    color: var(--srcHeaderColor);
}
